<header class="site-header" role="banner">

  <div class="nav-bar">

    <div class="hamburguer-menu">

      <div class="hambuguer-menu-toggle" onclick="toggleHamburguerMenuState(event, this.parentNode)">
          <div class="hamburguer-menu-icon">
              <div class="hamburguer-menu-icon-inner"></div>
          </div>
          <div class="hamburguer-menu-label">Menu</div>
      </div>

      <div class="hamburguer-menu-list">
          <nav>
              <a href="{{ '/' | relative_url }}" class="{%- if page.nav == 'Home' -%}{{ 'selected' }}{%- endif -%}"><span>Home</span></a>
              <a href="{{ '/about-me' | relative_url }}" class="{%- if page.nav == 'About me' -%}{{ 'selected' }}{%- endif -%}"><span>About me</span></a>
              <a href="{{ '/publications' | relative_url }}" class="{%- if page.nav == 'Publications' -%}{{ 'selected' }}{%- endif -%}"><span>Publications</span></a>
              <a href="{{ '/portfolio' | relative_url }}" class="{%- if page.nav == 'Portfolio' -%}{{ 'selected' }}{%- endif -%}"><span>Portfolio</span></a>
              <a href="{{ '/blog' | relative_url }}" class="{%- if page.nav == 'Blog' -%}{{ 'selected' }}{%- endif -%}"><span>Blog</span></a>
              <a href="{{ '/contact' | relative_url }}" class="{%- if page.nav == 'Contact' -%}{{ 'selected' }}{%- endif -%}"><span>Contact</span></a>
          </nav>
      </div>

    </div>

    <div class="logo"><a href="{{ '/' | relative_url }}">
      <span class="name">Albert</span><span class="first-surname"> Álvarez</span><span class="second-surname"> Carulla</span>
    </a></div>

    <div class="search-bar">
      {% if (site.enabled.search) %}
      <input type="search" name="search-bar" placeholder="Type your search terms" onsearch="search(this, 'results-box')">
      <i class="fa fa-search" aria-hidden="true"></i>
      {% endif %}
    </div>

  </div>

</header>
