<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.social.twitter }}">
<meta name="twitter:creator" content="{{ site.social.twitter }}">
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ page.description | default: site.description }}"/>
<meta property="og:title" content="{{ page.title | default: site.title }}"/>
<meta property="og:image" content="{{ page.featured_image_url | default: '/assets/img/default-card.jpg' | absolute_url }}"/>