footer.site-footer {
  margin-top: 100px;
    padding: 0 10px;
    background-color: $navbar-color;
    min-height: 50px;
    color: $white-font-color;
    text-align: center;
    font-size: 0.7rem;
    font-family: $header-font-family;
    font-weight: lighter;
    .content {
      max-width: 1140px;
      margin: 0 auto;
      padding: 35px 0 15px 0;
      p {
        margin: 50px 0 5px 0;
        &.copyright {
          margin: 50px 0 12px 0;
          font-size: 0.6rem;
        }
      }
      .logo {
        a {
          font-family: $header-logo-font-family;
          white-space: nowrap;
          text-transform: uppercase;
          font-size: 0.75rem;
          font-weight: 300;
          color: $white-font-color;
          .name {
            font-weight: 700;
          }
          .second-surname {
            display: none;
            @include respond-above(sm) {
              display: inline;
            }
          }
        }
      }
      .social {
        display: inline-block;
        a {
          display: inline-block;
        }
        svg {
          opacity: 1;
          transition: opacity 250ms ease;
          margin: 0 12px;
          width: 25px;
          path {
            transition: fill 250ms ease;
          }
          ellipse {
            transition: stroke 250ms ease;
          }
          &:hover {
            opacity: 1 !important;
          }
          &:hover path {
            fill: $white-font-color;
          }
          &:hover ellipse {
            stroke: $white-font-color;
          }
        }
        &:hover svg {
          opacity: 0.35;
        }
      }
    }
  }