//Grid
@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin respond-above($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    $breakpoint-value: map-get($grid-breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// Images
@mixin image-fill {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}