body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  min-height: 100vh;
  section.search-results,
  div.spinner-background,
  div.content {
    flex-grow: 1;
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  .logo {
    margin: 0 $grid-gutter;
    flex-grow: 1;
  }
}

.content.post {
  article {
    header {
      section.metadata {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
      }
    }
    aside {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      margin: -$grid-gutter;
      section.metadata {
        flex-basis: 360px;
        flex-grow: 1;
        margin: $grid-gutter;
        section.author .wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          align-content: center;
          .profile-img {
            margin-right: $grid-gutter;
          }
          .profile-txt {
            flex-grow: 1;
          }
        }
      }
      section.related-articles {
        flex-basis: 360px;
        flex-grow: 1;
        margin: $grid-gutter;
        ul {
          li {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: center;
            margin: -$grid-gutter;
            .featured-img {
              margin: $grid-gutter;
            }
            h4 {
              margin: $grid-gutter;
              flex-grow: 1;
            }
          }
        }
      }
    }
  }
  section.suscribe {
  }
}

.content.blog,
.content.category {
  section.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin: -$grid-gutter;
    .post {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      align-content: space-between;
      flex-grow: 1;
      flex-basis: 300px;
      margin: $grid-gutter $grid-gutter;
      &.zero-height {
        height: 0;
        margin: 0 $grid-gutter;
      }
      .box-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        align-content: space-between;
        .author {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          align-content: center;
          & > div {
            flex-grow: 1;
          }
        }
        .title {
          flex-grow: 1;
          .row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            flex-grow: 1;
            .left {
              text-align: left;
            }
            .right {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

.content.publications {
  li.publication {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    .data {
      flex-grow: 1;
      .info {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        .metadata {
          flex-grow: 1;
        }
      }
    }
  }
}
