header.site-header {
  .nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    background-color: white;
    color: $navbar-color;
    font-family: $header-font-family;
    font-size: 0.7rem;
    border-bottom: 1px solid $separator-color;
    transition: top 350ms ease;
    height: $navbar-content-height;
    .hamburguer-menu {
      .hambuguer-menu-toggle {
        cursor: pointer;
        z-index: 1001;
        white-space: nowrap;
        opacity: 1;
        transition: opacity ease $hover-duration;
        &:hover {
          opacity: 0.5;
        }
        .hamburguer-menu-icon {
          display: inline-block;
          position: relative;
          z-index: 1000;
          width: $hamburguer-menu-icon-width;
          .hamburguer-menu-icon-inner {
            position: absolute;
            z-index: 1000;
            bottom: 1px;
            width: calc(
              #{$hamburguer-menu-icon-width} * #{$hamburguer-menu-icon-width-ratio}
            );
            height: $hamburguer-menu-icon-height;
            background-color: $navbar-color;
            transition-property: width, transform, bottom, background-color;
            transition-duration: $hover-duration;
            transition-timing-function: ease;
            &::before {
              position: absolute;
              content: "";
              width: $hamburguer-menu-icon-width;
              height: $hamburguer-menu-icon-height;
              bottom: 6px;
              background-color: $navbar-color;
              transition-property: transform, bottom, background-color;
              transition-duration: $hover-duration;
              transition-timing-function: ease;
            }
          }
        }
        .hamburguer-menu-label {
          display: none;
          position: relative;
          z-index: 1000;
          color: $navbar-color;
          margin-left: 5px;
          min-width: 45px;
          transition: color 250ms ease;
            display: none;
            @include respond-above(sm) {
              display: inline-block;
          }
        }
      }
      .hamburguer-menu-list {
        background: $theme-main-color;
        overflow-x: hidden;
        z-index: 999;
        width: 0px;
        padding-top: 40px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transition: width 350ms ease;
        nav {
          display: block;
          overflow-x: hidden;
          min-width: 200px;
          color: white;
          padding: 20px;

          a {
            font-weight: lighter;
            position: relative;
            display: block;
            height: 40px;
            color: white;
            opacity: 0.5;
            transition: opacity 250ms ease;
            span {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
            &.selected {
              opacity: 1;
            }
            &:hover {
              opacity: 1;
            }
            &.selected::before {
              position: absolute;
              content: "";
              height: 100%;
              left: -20px;
              border-left: 6px solid white;
            }
          }
        }
      }
      &.is-active {
        .hamburguer-menu-list {
          width: 250px;
        }
        .hambuguer-menu-toggle {
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
          .hamburguer-menu-icon .hamburguer-menu-icon-inner {
            bottom: 4px;
            width: $hamburguer-menu-icon-width;
            transform: rotate(45deg);
            &::before {
              bottom: 0px;
              transform: rotate(-90deg);
            }
          }
          .hamburguer-menu-icon-inner,
          .hamburguer-menu-icon-inner::before {
            background-color: white;
          }
          .hamburguer-menu-label {
            color: white;
            display: inline-block;
          }
        }
      }
    }
    .logo {
      a {
        font-family: $header-logo-font-family;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 0.85rem;
        font-weight: 300;
        color: $navbar-color;
        .name {
          font-weight: 700;
        }
        .second-surname {
          display: none;
          @include respond-above(sm) {
            display: inline;
          }
        }
      }
    }
  }
}
