// Common
// $theme-main-color: #6761bb;
$theme-main-color: #6761BB;
$theme-secondary-color: #46427F;
$normal-font-family: "Source Sans Pro", sans-serif;
$normal-font-color: #555555;
$white-font-color: rgb(230, 230, 230);
$separator-color: rgb(230, 230, 230);

// Navbar
$navbar-color: #202121;
$hamburguer-menu-icon-width: 25px;
$hamburguer-menu-icon-width-ratio: 0.7;
$hamburguer-menu-icon-height: 2px;
$navbar-content-height: 25px;
$navbar-height: 60px;

// Grid
$grid-gutter: 16px;
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Headers
$header-font-family: "Montserrat", sans-serif;
$header-font-color: #333333;