---
layout: default
---

<main style="max-width:1140px;margin:0 auto;">
  <section>
    <h1>Hello there!</h1>
    <p>My website is <b>under construction</b> right now, but <b>I can't wait</b> until finish it to start sharing new content with you!
       Due this, <b>you can find a link below to my blog</b> section where I will post while I'm developing the site.</p>
    <!-- <p>You can also <b>subscribe</b> to my mailing list to stay updated on my latest articles, publications & projects.</p> -->
    <p><b>Stay tuned!</b> Before you realize, I will publish the full version of the site.</p>
  </section>
  <div style="text-align: center;">
    <a class="btn" href="{{ '/blog' | relative_url }}">Go to my blog</a>
  </div>
  <section>
    {%- include subscribe.html -%}
  </section>
</main>
